.header {
    grid-area: h;
    background-color: palegreen;
    border-radius: 50px;

}

.header img {
    width: 68px;
}

.loginBlock{
    float: right;
    margin-right: 50px;
}

.loginBlock a{
    color: black;
}