.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 51%;
}

.selectedPage {
font-weight: bold;
}


.userLink:active,
.userLink:focus {
    color: gold;
}

.userLink {
    color: whitesmoke;
}