.nav {
    grid-area: n;
    background-color: sandybrown;
    text-align: right;
    padding: 20px;

}

.item a {
    color: green;
    text-decoration: none;

}

.item a:active,
.item a:focus {
    color: gold;
}