.big_banner {
    width: 97%;
    height: 150px;
    margin: 10px;
    border-radius: 20px;

}

.avatar {
    width: 150px;
    height: 150px;
    padding: 0 10px;
    border-radius: 30px;
}

.descriptionBlock  {
    padding: 10px;

}

.userPhoto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -105px;
    margin-left: 10px;
    border: 2px solid blanchedalmond;

}

.contact {
    padding-left: 10px;
}