.big_banner {
    width: 97%;
    height: 150px;
    margin: 10px;
    border-radius: 20px;

}

.avatar {
    width: 150px;
    height: 150px;
    padding: 0 10px;
    border-radius: 30px;
}

.descritpionBlock {
    padding: 10px;
}